# Virtual environment
venv
env
.python-version

# Compiled files
*.pyc
*.swp

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Temp files
tmp
.DS_Store

# Node
.nvmrc
node_modules

# DB dumps
*.db
*.dump

# IDE and project files
.idea
.vscode
.fleet

# Unit tests reports
*coverage*
test-reports/
_tests_report_*.txt

# Ignore built ts files
__tests__/runner/*
lib/**/*

# Yarn 3.x
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
